*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
}
header{
  display:grid;
  grid-template-columns: 1fr minmax(50px, 1fr) repeat(10, 1fr);
  grid-gap: 16px;  
  background-color: #ffe600;
  grid-column: 1 / 13  ;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}

header div{
  display: inline-block;
  /* background-color: red ; */
  height: 100%;
  grid-column: 2 / 3;
  background: url(./assets/Logo_ML.png) no-repeat center;
  background-size: contain;
}
header input{
  display: inline-block;
  grid-column: 3 / 12;
  border: none;
  border-radius: 3px;
  text-indent: 10px;
  font-size: 14px
}

input::placeholder{
  color: #666
}

button{
  height: 100%;
  width: 30px;
  grid-column-end: 13;
  margin-left: -46px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #eee url(./assets/ic_Search.png) no-repeat center;
  background-size: 50%;

}