*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
}
button{
  cursor: pointer;
}
#page {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr minmax(50px, 1fr) repeat(10, 1fr);
  grid-column-gap: 16px;  
  height: 100vh;                 
}

header {
  display:inherit;
  grid-column-gap: inherit;
  background-color: #ffe600;
  grid-column: 1 / 13  ;
  height: 50px;
  padding: 10px 0px;
  box-sizing: border-box;
}

main{
  grid-column: 2 / 12;
  box-sizing: border-box;
  background-color: #EEEEEE;
  grid-template-columns: inherit;
  height: 100vh;
}
hr{
  margin: 0px 16px;
  color: #EEEEEE4D;
}

main .categoria{
  height: 14px;
  grid-column: 1 / 13;
  padding-top: 16px;
  color: #666;
  font-size: 14px;
  padding-bottom: 16px;
}
.contenedor{
  background-color: white;
  border-radius: 4px;
}

main .items{
  height: 180px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  display: grid;
  grid-template: "a b c" 180px / 180px auto auto;
  color: #666;
  font-size: 14px;
  font-family: "Proxima Nova";
}

main .contenedorImagen{
  grid-area: a;
  width: 180px;
  height: 180px;
}
.contenedorImagen .imagen{
  border-radius: 4px;
  width: 180px;
  height: 180px;
  display: inline-block;
}
main .contenedorDescripcion{
  grid-area: b;
  margin-left: 16px
}
main .contenedorUbicacion{
  grid-area: c;
  margin-left: 16px;
}



@font-face { 
  font-family: "Proxima Nova"; 
  font-style: normal;
  font-weight: 400; 
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot?#iefix") format("embedded-opentype"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff2") format("woff2"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff") format("woff"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.ttf") format("truetype");
  font-display: swap; 
}

header .logo{
  display: inline-block;
  /* background-color: red ; */
  height: 100%;
  grid-column: 2 / 3;
  background: url(./assets/Logo_ML.png) no-repeat left;
  background-size: contain;
}
header input{
  display: inline-block;
  grid-column: 3 / 12;
  border: none;
  border-radius: 3px;
  text-indent: 10px;
  font-size: 14px;
  margin-left: -16px;
}

input::placeholder{
  color: #666
}

header .boton{
  margin-left: -46px;  
  height: 100%;
  width: 30px;
  grid-column-end: 13;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #eee url(./assets/ic_Search.png) no-repeat center;
  background-size: 50%;
}

body{
  background-color: #EEEEEE;
}

.contenedorDescripcion .precio{
  font-size:24px;
  margin-bottom:32px;
  margin-top: 16px;
  color: #333333;
}
.contenedorDescripcion .descripcion{
  font-size:18px;
  color: #333333;
}

.contenedorDescripcion .imagen{
  display: inline-block;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background: url(./assets/ic_shipping.png) no-repeat left;
}

.contenedorUbicacion p{
  font-size:12px;
  color: #999999;
  margin-top: 30px;
  margin-right: 45px;
}


/*item unico*/
main .item{
  height: 100vh;
  display: grid;
  grid-template: "a b" 680px 
                 "c b" auto / minmax(680px,75%) ;
  font-family: "Proxima Nova";
}
.item .contenedorImagenItem{
  grid-area: a;
}
.item .contenedorImagenItem .imagen{
  display: inline-block;
  background: url(./assets/descarga.jpg) no-repeat left;
  background-size: contain;
  width: 680px;
  height: 680px;
}
.item .contenedorInfoItem{
  grid-area: b;
  margin-left: 16px;
  margin-top: 32px;
  margin-right: 32px;
}
.item .contenedorInfoItem button{
  background-color: #3483FA;
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 35px;
  color: white;
}
.item .contenedorInfoItem .precio{
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 46px;
}
.item .contenedorInfoItem .condicion{
  margin-bottom: 16px;
  font-size: 14px;
}
.item .contenedorInfoItem .titulo{
  font-size: 24px;
}
/* .item .contenedorInfoItem .imagen{
  display: inline-block;
  background: url(./assets/ic_shipping.png) no-repeat left;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-left: 10px;
} */
.item .contenedorDescripcionItem{
  grid-area: c;
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.item .contenedorDescripcionItem p{
  font-size: 16px;
}
.item .contenedorDescripcionItem .titulo{
  font-size: 28px;
  margin-bottom: 32px;
}